<div class='right pad-bottom'>
	<%= link_to 'Back to Compare', questions_path, class: "btn btn-primary" %>
</div>

<div>
	<h2>Bias Points</h2>
	<p>As users click through the comparisons on this site, points are recorded for each incorrect answer. When a user assumes a country ranked better than it did in a certain categoty, a <i>positive bias point</i> is accrued. A <i>negative bias point</i> is recorded when a user assumes a country ranked lower than it did. </p>
</div>
<hr>

<div class='row clear'>

	<% @countries_by_bias.each do |country_array| %>
		<div class='col-md-6 col-sm-6 pad-bottom'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><strong><%= country_array[0].name %></strong></h3>
				</div>

				<div class='row'>
						<div class='col-md-7 col-sm-7 pad-left'>
							<h5><span class="glyphicon glyphicon-plus margin-right"></span>  Positive bias points: <%= country_array[0].bias_points.where(positive: true).count %></h5>
							<h5><span class="glyphicon glyphicon-minus margin-right"></span>  Negative bias points: <%= country_array[0].bias_points.where(positive: false).count %></h5>
							<h5>(Net <%= country_array[1] %>)</h5>
						</div>
						<div class='col-md-5 col-sm-5'>
						<%= image_tag("#{country_array[0].code}.png", alt: "#{country_array[0].name}", width: '120%') %>
						</div>
				</div>
			</div>
		</div>
	<% end %>

</div>