<div class="panel panel-default">
	<div class="panel">
		<h4>Countries ranked from <%= @rank_order %> <%= @answer.criterion.display_name %></h4>
		<p class='units text-right'> <%= @answer.criterion.unit %> </p>
	</div>
	<div class='line_up'>
			<% @ordered_scores.each do |score| %>
				<% if @highlighted_country_scores.include? score %>
					<div class='panel highlight'>
				<% elsif @comparison_country == score.country %>
					<div class='panel highlight'>
				<% else %>
					<div class='panel'>
				<% end %>
					<ul>
						<li class='short'><%= score.rank %></li>
						<li><%= score.country.name %></li>
						<li class='right'><%= score.score %></li>
					</ul>
					</div>
			<% end %>
			<div class='panel text-center'>
				<%= link_to "Back to top", '#' %>
			</div>
	</div>
</div>