<div class='right'>
	<%= link_to 'Play next question', questions_path, class: "btn btn-primary" %>
</div>
<div class='main'>
	<div class='question'>
		<h1>The line up for:<br>
		<%= @answer.criterion.display_name.titlecase %></h1>
	</div>
		<div>
			<% if flash[:notice].present? %>
				<p class="alert alert-success"><%= flash[:notice] %></p>
			<% elsif flash[:warning].present? %>
				<p class="alert alert-danger"><%= flash[:warning] %></p>
			<% end %>
		</div>

<div class='row'>
	<div class='col-md-7 col-sm-7'>
		<%= render partial: 'country_list' %>
	</div>
	<div class='col-md-5 col-sm-5'>
		<%= render partial: 'rank_box' %>
	</div>
</div>


</div>