<div class='main'>
	<div class='narrow'>
		<%= render partial: 'flash_feedback' %>
		<h4><%= @answer.criterion.display_name.titlecase%>:</h4>
	</div>
	<div class='relative'>
		<%= link_to ' ', questions_path, class: 'next-arrow' %>
	</div>

	<div class='question'>
		<h2><%= @answer_countries[0][1].name %> came in at <%= @answer_countries[0][0] %> vs. <%= @answer_countries[1][1].name %> at <%= @answer_countries[1][0] %></h2>
		<% if @comparison_country.present? %>
		<h4 class='gray'>(For comparison, <%= @comparison_country.name %> came in at <%= @comparison_country_rank %>.)</h4>
		<% end %>
	</div>
	<h3>The full line up: </h3><hr>
	<div class='row'>
		<div class='col-md-7 col-sm-7'>
			<%= render partial: 'country_list' %>
		</div>
		<div class='col-md-5 col-sm-5'>
			<div class='row'>
				<%= render partial: 'rank_box' %>
			</div>
			<div class='row'>
			<%#= render partial: 'article_box' %>
			</div>
		</div>
	</div>


</div>