<div class='main'>
	<div class='narrow'>
		<%= render partial: 'flash_feedback' %>
		<h4>Highest <%= @answer.criterion.display_name %>:</h4>
	</div>
	<div class='relative'>
		<%= link_to ' ', questions_path, class: 'next-arrow' %>
	</div>

	<div class='question'>
		<h2><%= @answer_country_scores[0].country.name %> came in at <%= @answer_country_scores[0].rank %> vs. <%= @answer_country_scores[1].country.name %> at <%= @answer_country_scores[1].rank %></h2>
		<% if @comparison_country.present? %>
		<h4 class='gray pad-bottom'>(For comparison, <%= @comparison_country.name %> came in at <%= @comparison_country_score.rank %>.)</h4>
		<% end %>
	</div>
	<hr>
	<div class='row margin-top'>
		<div class='col-md-7 col-sm-7'>
			<%= render partial: 'country_list' %>
		</div>
		<div class='col-md-5 col-sm-5'>
			<div class='row'>
				<%= render partial: 'rank_box' %>
			</div>
			<div class='row'>
			<%#= render partial: 'article_box' %>
			</div>
		</div>
	</div>


</div>