<div class='right pad-bottom'>
	<%= link_to 'Back to Compare', questions_path, class: "btn btn-primary" %>
</div>
<h1><strong>Breakdown for <%= @country.name %></strong></h1>



<div class='bias panel panel-default clear'>
	<h4>Aggregate positive bias points: <%= @positive_bias_points %></h4>
	<h4>Aggregate negative bias points: <%= @negative_bias_points %></h4>
</div>

<div>
<%= render partial: 'criteria_breakdown' %>
</div>

