<!DOCTYPE html>
<html>
	<head>
	  <title>Go Figure</title>
	  <meta property="og:image" content="<%= image_url('go-figure-thumb.png') %>">
    <meta property="og:site_name" content="Go Figure">
    <meta property="og:description" content="A comparative look at countries through Human Development statistics">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<header>
			<div class='container-fluid'>
				<h1><%= link_to "GO FIGURE.", root_path %></h1>
				<h4>A comparative look at countries through Human Development statistics</h4>
			</div>

			<%= render partial: 'layouts/nav_bar' %>

		</header>

		<div class='container-fluid' id='page'>
			<div class='clear'>
				<%= yield %>
			</div>
		</div>
		<footer>Emilie Reiser 2014 | <%= link_to "GitHub repo", "https://github.com/emreiser/go-figure", target: '_blank' %></footer>

	</body>
</html>
