<!DOCTYPE html>
<html>
	<head>
	  <title>BiUS</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class='container'>

		<div id='sign-in'>
			<h5>
				<% if user_signed_in? %>
					<%= current_user.email %> | <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
				<% else %>
					<%= link_to "Sign in", new_user_session_path %>
				<% end %>
			</h5>
		</div>

		<%= yield %>

		</div>

	</body>
</html>
