<!DOCTYPE html>
<html>
	<head>
		<meta property="og:image" content="<%= image_url('go-figure-thumb.png') %>">
    <meta property="og:site_name" content="Go Figure">
    <meta property="og:description" content="A comparative look at countries through Human Development statistics">
	  <title>Go Figure</title>
	  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class='landing'>

		<%= yield %>

	</body>

</html>